
body
{
background-image: url(tumblr_otea0wh9rZ1uqtds1o1_1280.jpg);
height: fit-content;
background-repeat: no-repeat;
background-size: 100%;
}

#igitecyerezo
{
background:#808080;
}
#inkoko{
color:#fff;
background:pink;
}
#ikizu{
background:green;
height:400px;
}
#imishinga h1{
text-align:center;
background:white;
}




